*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.head {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    display: block;
    /* text-align: center; */
    margin-left: 8%;
    text-decoration: underline;
    margin-bottom: 5%;
    /* padding: 20px 0; */

}

#main {
    width: 100%;
    height: 100vh;
    padding-top: 8%;
    background: url(/img/change_pass//cp_bg.jpg) no-repeat center;
    background-size: cover;
    
}

form{
    background-color: rgba(255, 255, 255, .8);
    height: 85%;
    width: 60%;
    margin-left: 20%;
    padding-left: 15%;
    padding-top: 20px;
}

.label {
    display: block;
    font-size: 18px;
    font-family: 'Hind', sans-serif;
}

input {
    display: block;
    margin-bottom: 20px;
    width: 60%;
    height: 30px;
}

#id{
    display: inline-block;
}

#fetch{
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: rgb(26, 11, 243);
    border: 0;
    cursor: pointer;
}

#add{
    display: inline-block;
    height: 45px;
    width: 22%;
    font-size: 17px;
    margin-left: 5%;
    margin-top: 20px;
    background-color: rgb(49, 99, 236);
    outline: none;
    border: 0;
    cursor: pointer;
    color: #fff;
    transition: all .1s ease-in-out;
}

#add:hover{
    background-color: rgb(21, 67, 194);
    
}

#rem{
    display: inline-block;
    height: 50px;
    width: 22%;
    font-size: 17px;
    margin-left: 2%;
    margin-top: 20px;
    background-color: rgb(236, 49, 49);
    outline: none;
    border: 0;
    cursor: pointer;
    color: #fff;
    transition: all .1s ease-in-out;
}

#rem:hover{
    background-color: rgb(243, 22, 22);
    
}


