* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
}

body{
    min-height: 100vh;
    background: url(../img/form/pay_bg.jpg) no-repeat center;
    background-size: cover;
}

#main{
    width: 70%;
    margin-left: 10%;
    padding-top: 1%;
}

input{
    margin-bottom: 20px;
    height: 30px;
    width: 60%;
}

.head {
    display: block;
    font-size: 36px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration: underline;
    color: #fff;
}

.fee{
    display: block;
    font-size: 24px;
    margin-left: 22%;
}

.form{
    display: flex;
    margin-left: 10%;
    padding-bottom: 30px;
    background-color: rgba(230, 230, 230, .5);
    padding-right: 5%;

}

.left{
    width: 60%;
}

form{
    padding-left: 5%;
    padding-top: 50px;
}

.label{
    display: block;
}

.label, input{
    margin-left: 20%;
}

#cc_img{
    padding-top: 40%;
}

#submit{
    display: block;
    width: 20%;
    padding: 5px 20px;
    background-color: #33b9e7;
    outline: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s ease;
    margin-left: 40%;
}

#submit:hover{
    background-color: #187ef1;
    box-shadow: 2px 2px 10px #000;
    color: #fff;
}